
<div class="content">
    <div fxLayout="row wrap" class="images" fxLayoutGap="16px grid">
        <div  *ngFor="let image of images">
            
            <mat-card class="mat-elevation-z4">
                <img class="el-images" mat-card-image [src]="'../../assets/img/' + image.path "
                    alt="Mountains {{image.name}}" />
                <mat-card-content>
                    <p>{{image.name}}</p>
                    <p>{{image.price}}</p>
                </mat-card-content>
                
            </mat-card>
            
        </div>
    </div>
</div>

