<p>test page works</p>


<div >

    <div class="container">
      <h2>Image List</h2>
      <div *ngIf="imageContainer.length > 0">
        <div *ngFor="let image of imageContainer" class="card" style="width: 18rem;">
          <img [src]="'assets/img/'+image.name " class="card-img-top" alt="Image">
          <div class="card-body">
            <h5 class="card-title">{{ image.name }}</h5>
          </div>
        </div>
      </div>
      <div *ngIf="!imageContainer">
        <p>No images found.</p>
      </div>
      
    
  </div>
 