<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- <app-header></app-header> -->
 
  <div>
    <div class="sub-content">
      <!-- <div class="image-container ">
        <app-category></app-category>
      </div> -->
      <div class="mybanner">
        <app-banner></app-banner>
      </div>
      <div class="best-electronics">
        <div class="card-image">
          <h6>Best Of Electronics</h6>
          <app-card-view></app-card-view>
        </div>
      </div>
      <div class="best-electronics">
        <div class="card-image">
          <h6>Beauty & Toys</h6>
          <app-beauty-products></app-beauty-products>
        </div> 
      </div>
       <div class="best-electronics">
        <div class="card-image">
          <h6>Beauty & Toys</h6>
          <app-test-page></app-test-page>
        </div>
      </div>
    </div>
  
  
  </div>
  
 
</body>
</html>